.slices-boxes .slice-box {
  width: 76%;
  padding-right: 0;
  padding: 15px;
  box-shadow: 4px 4px 19px rgb(0 0 0 / 9%);
  border-radius: 23px;
}
.box-content ul {
  list-style-type: none;
  padding-right: 6px;
}
.slice-box-name {
  color: #cb4337;
  font-size: 30px;
  font-family: boldd;
  white-space: nowrap;
}

.slice-box-calories {
  font-size: 25px;
  font-family: regular;

  color: #65eed7;
}
.right-content .first-content {
  font-size: 19px;
  font-family: regular;
}
.right-content .sec-content ul {
  margin-top: 5px;
  color: #7b7b7b;
}
/* .left-content span {
  padding: 11px;
  box-shadow: 5px 5px 29px rgb(0 0 0 / 9%);
  border-radius: 50%;
} */
.slice-box-img {
  position: relative;
}
.box-img-left img {
  width: 261px;
  position: absolute;
  left: -47px;
  top: -45px;
}
.box-img-right img {
  width: 261px;
  position: absolute;
  right: -47px;
  top: -45px;
}
.slice-box {
  margin-top: 104px;
}
.slice-box {
  position: relative;
}
.slice-img-res {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -20%;
  text-align: center;
}
.slice-img-res img {
  width: 60%;
}
.social-btn-lg {
  direction: ltr;
}

.social-btn-lg span {
  margin-left: 15px;
}

.social-btn-lg .main-social {
  cursor: pointer;
}
.social-btn-lg .social-component {
  position: relative;
}
.social-content {
  background-color: #fff;
  position: absolute;
  left: 5%;
  top: 48%;
  width: 49px;
  height: 49px;
  font-size: 28px;
  padding: 0 11px;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  box-shadow: 0 2px 5px rgb(0 0 0 / 16%);
}
.social-content img {
  width: 25px;
  transform: translateY(1px);
}
.face-social a {
  color: #4c76eb;
}
.face-social a:hover {
  color: #4c76eb;
}
.social-content a {
  transition: 0.3s;
}
.social-content a:hover {
  transform: scale(1.1);
}
.twitter-social a {
  color: #03a9f4;
}
.twitter-social a:hover {
  color: #03a9f4;
}
.insta-social a {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-content:hover {
  width: 200px;
  visibility: visible;
}
.social-content:hover .main-social {
  padding-right: 20px;
  border-right: 1px solid #cccccc;
}
.main-social {
  transition: all 0.4s ease-in-out;
}
